@import '~vars.scss';

#app-title {
  flex-grow: 1;
  height: 32px;
  margin: 16px 5px 0 5px;

  h2 {
    margin: 0;
    padding: 5px;
    font-size: 18px;
    font-weight: normal;

    input {
      font-size: 18px;
      width: 300px;
      text-align: left;
      border: none;

      &:hover,
      &:focus {
        background-color: $bg-grey;
      }
    }
  }
}
