@import '~base.scss';
@import '~vars.scss';

@import '~layout/fixed/layout.scss';

div[data-react-view='about'] {
  background: $bg-grey;

  > div {
    background: white;
    padding-bottom: 50px;

    .example-doc {
      padding: 5px;
      border: 1px solid $fg-grey;
      display: inline-block;
      margin: 5px;
      text-decoration: none;
      color: black;

      &:hover {
        cursor: pointer;
        border-color: $blue;
        color: $blue;
      }

      sub {
        display: block;
        margin-top: 5px;
      }
    }
  }
}
