@import '~base.scss';
@import '~vars.scss';

@import '~layout/fixed/layout.scss';

div[data-react-view='about'] {
  background: $bg-grey;

  > div {
    background: white;
    padding-bottom: 50px;

    #about-features {
      display: flex;

      > div:first-child {
        flex-grow: 1;
      }
      > div:last-child {
        flex-grow: 0;
      }

      #screenshot {
        margin-top: 90px;
        margin-right: 20px;
        padding: 5px;
        border: 1px solid $bg-grey;
        display: block;

        &:hover {
          border-color: $blue;
        }
      }
    }

    .example-doc {
      padding: 5px;
      border: 1px solid $fg-grey;
      display: inline-block;
      margin: 5px;
      text-decoration: none;
      color: black;

      &:hover {
        cursor: pointer;
        border-color: $blue;
        color: $blue;
      }

      sub {
        display: block;
        margin-top: 5px;
      }
    }
  }
}
