@import "~vars.scss";
@import "~mixins.scss";

#app-toolbar {
  flex-grow: 0;
  height: $toolbar-dimen;
  font-size: 14px;
  border-top: 1px solid $blue-grey;
  overflow: hidden;
  padding-bottom: 1px;

  .toolbar-group {
    display: flex;

    .toolbar-button {
      width: $toolbar-dimen;
      height: 100%;
      @include no-select;
      cursor: default;
      padding-left: 5px;
      padding-right: 5px;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $blue;
      }
    }

    border-right: 1px solid $blue-grey;
  }
}
