.canvas-container {
  position: relative;
  height: 100%;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  $cursor-list: ew-resize ns-resize nesw-resize nwse-resize;

  @each $cursor in $cursor-list {
    &[cursor="#{$cursor}"] {
      cursor: $cursor;
    }
  }
}
