.icon {
  svg {
    stroke: black;
    fill: white;
    margin: 0 auto;
    display: block;
  }

  &.selected,
  &:hover {
    color: $blue;
    svg {
      stroke: $blue !important;
    }
  }

  &:active {
    background-color: $bg-grey;
  }
}
