.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    stroke: black;
    fill: white;
    margin: 0 auto;
    display: block;
  }

  &.selected,
  &:hover {
    color: $blue;
    svg {
      stroke: $blue !important;
    }

    &.icon--del {
      color: $red;
      svg {
        stroke: $red !important;
      }
    }
  }

  &:active {
    background-color: $bg-grey;
  }

  &.weak {
    svg {
      stroke: $blue-grey-strong;
    }
  }
}
