@import '~vars.scss';
@import '~mixins.scss';

#listings {
  background: $bg-grey;
  flex-grow: 1;

  .listings-group {
    display: flex;
    background: $bg-grey;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 5px;

    .doc-listing {
      background: white;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: black;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 200px;
      max-width: 400px;
      margin: 5px;
      border: 1px solid $fg-grey;

      &:hover {
        color: $blue;
        border-color: $blue;
      }

      .doc-listing__thumb {
        height: 140px;
        display: flex;

        img {
          max-height: 140px;
          margin: auto;
        }
      }

      .doc-listing__name {
        border-top: 1px solid $mid-grey;
        padding: 5px;
      }
    }
  }
}
