body {
  margin: 0;

  overflow: hidden;

  display: flex;
  height: 100%;

  $cursor-list: ne-resize nw-resize se-resize sw-resize ew-resize ns-resize
    nesw-resize nwse-resize text;

  @each $cursor in $cursor-list {
    &[cursor='#{$cursor}'] {
      cursor: $cursor;
    }
  }

  > main {
    width: 100%;
    height: 100%;

    > div {
      width: 100%;
      height: 100%;
    }
  }
}

#app-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  header#app-header {
    height: $app-header-height;
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom: 1px solid $fg-grey;
    display: flex;

    #logo {
      display: block;
      padding: 14px 10px;
      width: $app-toolbar-width;
      height: $app-header-height;
      background-color: $blue-grey;
      border-right: 1px solid darken($blue-grey, 20%);
      border-bottom: 1px solid darken($blue-grey, 20%);

      svg {
        rect.logo-bg {
          fill: #212121;
        }

        rect.logo-fg {
          fill: #fff;
        }
      }
    }

    #app-controls {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      height: $app-header-height;
    }
    #app-account {
      flex-grow: 0;
      width: 200px;
    }
  }

  #app-view {
    display: flex;
    height: 100%;

    #app-render {
      position: relative;
      flex-grow: 1;
      height: 100%;
      background: $bg-grey;
    }
  }
}
