@import "~vars.scss";

$button-dimen: 30px;
$button-margin: 4px;
$section-margin: 8px;
$button-item-dimen: 13px;

.align-util-button {
  display: block;
  width: $button-dimen;
  height: $button-dimen;
  margin: $button-margin;
  border: 1px solid $blue-grey;
  position: relative;
  background: white;

  .align-util-button__item {
    width: $button-item-dimen;
    height: $button-item-dimen;
    border: 1px solid black;
    background: $bg-grey;
    position: absolute;
  }

  &:hover {
    border-color: $blue;

    .align-util-button__item {
      border-color: $blue;
      background: $paleblue;
    }
  }

  &:active {
    background: $bg-grey;

    .align-util-button__item {
      background: $midblue;
    }
  }

  &.align-util-mode-button {
    svg {
      width: 100%;
      height: 100%;
      rect {
        stroke: black;
        fill: white;
      }
    }
  }

  // 1d alignment
  &.align-util-button--vt {
    .align-util-button__item { top: -1px; left: ($button-dimen/2)-($button-item-dimen/2); }
  }
  &.align-util-button--vc {
    .align-util-button__item { top: ($button-dimen/2)-($button-item-dimen/2); left: ($button-dimen/2)-($button-item-dimen/2); }
  }
  &.align-util-button--vb {
    .align-util-button__item { bottom: -1px; left: ($button-dimen/2)-($button-item-dimen/2); }
  }

  &.align-util-button--hl {
    .align-util-button__item { left: -1px; top: ($button-dimen/2)-($button-item-dimen/2); }
  }
  &.align-util-button--hc {
    .align-util-button__item { left: ($button-dimen/2)-($button-item-dimen/2); top: ($button-dimen/2)-($button-item-dimen/2); }
  }
  &.align-util-button--hr {
    .align-util-button__item { right: -1px; top: ($button-dimen/2)-($button-item-dimen/2); }
  }
}

#align-util__main {
  display: flex;
  flex-wrap: wrap;

  #align-util__2d-box {
    display: flex;
    flex-wrap: wrap;
    width: ($button-dimen * 3) + ($button-margin * 6);
    height: ($button-dimen * 3) + ($button-margin * 6);
    margin: $section-margin;
    align-items: center;
    justify-content: center;
    position: relative;

    // 2d alignment
    .align-util-button--tl {
      .align-util-button__item { top: -1px; left: -1px; }
    }
    .align-util-button--tc {
      .align-util-button__item { top: -1px; left: ($button-dimen/2)-($button-item-dimen/2); }
    }
    .align-util-button--tr {
      .align-util-button__item { top: -1px; right: -1px; }
    }

    .align-util-button--cl {
      .align-util-button__item { top: ($button-dimen/2)-($button-item-dimen/2); left: -1px; }
    }
    .align-util-button--c {
      .align-util-button__item { top: ($button-dimen/2)-($button-item-dimen/2); left: ($button-dimen/2)-($button-item-dimen/2); }
    }
    .align-util-button--cr {
      .align-util-button__item { top: ($button-dimen/2)-($button-item-dimen/2); right: -1px; }
    }

    .align-util-button--bl {
      .align-util-button__item { bottom: -1px; left: -1px; }
    }
    .align-util-button--bc {
      .align-util-button__item { bottom: -1px; left: ($button-dimen/2)-($button-item-dimen/2); }
    }
    .align-util-button--br {
      .align-util-button__item { bottom: -1px; right: -1px; }
    }
  }

  svg.align-util__guides {
    position: absolute;
    width: 100%;
    height: 100%;

    line {
      stroke: $blue-grey;
    }
  }

  #align-util__1d-v {
    margin: $section-margin;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  #align-util__1d-h {
    margin: $section-margin;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  #align-util__scope-menu {
    margin: $section-margin;
    margin-left: auto;
  }
}
