@import '~vars.scss';

.color-util {
  .color-util__row {
    width: 100%;
    padding: 5px;
    display: flex;

    &:not(:first-child) {
      border-top: 1px solid $blue-grey;
    }

    .color-util__row__label {
      line-height: 32px;
    }

    .color-util__row__value {
      display: flex;
      margin-left: auto;

      .color-util__row__swatch {
        width: 32px;
        height: 32px;

        margin-left: 10px;

        &.color-util__row__swatch--empty {
          border: 1px solid $blue-grey;

          svg {
            width: 100%;
            line {
              stroke: $blue-grey;
            }
          }
        }
      }

      .color-util__row__mini-swatches {
        display: flex;
        width: 100px;
        margin-left: 10px;

        .color-util__row__mini-swatch {
          flex-grow: 1;
          height: 32px;

          + .color-util__row__mini-swatch {
            margin-left: 3px;
          }

          &.color-util__row__mini-swatch--empty {
            border: 1px solid $blue-grey;

            svg {
              width: 100%;
              line {
                stroke: $blue-grey;
              }
            }
          }
        }
      }
    }
  }

  .color-util__picker {
    .color-util__picker__slider {
      display: flex;
      justify-content: center;
      padding: 5px;
      border-bottom: 1px solid $blue-grey;

      input,
      label {
        margin: auto 0;
      }

      .text-input {
        display: block;
        margin-left: 10px;
        text-align: right;
      }

      label {
        margin-right: 10px;
      }

      label,
      input[type='text'] {
        width: 40px;
      }

      input[type='range'] {
        flex-grow: 1;
      }
    }

    .color-util__picker__rgb {
      display: flex;
      padding: 5px;

      .text-input {
        display: block;
        margin: auto 0;

        + label {
          margin-left: 8px;
        }
      }

      label {
        margin: auto 0;
        margin-right: 4px;
      }
    }

    .color-util__canvas-container {
      width: 256;
      height: 256;
      position: relative;
      canvas {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
