@import "~vars.scss";

.doc-util__item {
  font-size: 14px;
  user-select: none;

  &:not(.doc-util__item--layer) {
    border-left: 5px solid #ccc;
  }

  .doc-util__item__bar {
    padding: 4px;
    border-top: 1px solid #ccc;
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }

  &.doc-util__item--layer > .doc-util__item__bar {
    padding: 12px 4px;
  }

  .doc-util__item__children {
    margin-left: 3px;
    padding-bottom: 3px;

    .doc-util__item:last-child {
      border-bottom: 1px solid #ccc;
    }
  }

  &.selected {
    border-color: $blue;

    > .doc-util__item__bar {
      color: $blue;
    }

    .doc-util__item__children {
    }
  }
}
