@import "~vars.scss";

.doc-util__item {
  user-select: none;

  &:not(.doc-util__item--layer) {
    border-top: 1px solid $blue-grey;
    border-left: 5px solid $blue-grey;
  }


  .doc-util__item__bar {
    padding: 4px;
    border-top: 1px solid $blue-grey;
    cursor: default;

    display: flex;
    flex-direction: row;

    > * {
      align-self: center;
    }

    &:hover {
      color: $blue;
    }

    .doc-util__item__bar__thumb {
      margin-right: 5px;
      width: 20px;
      height: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      img {
        align-self: center;
        max-width: 20px;
        max-height: 20px;
        padding: 2px;
        border: 1px solid $blue-grey;
      }
    }

    .doc-util__item__bar__type {
      margin-right: 5px;
    }
  }

  &.doc-util__item--layer:first-child .doc-util__item__bar {
    border-top: none;
  }


  &.doc-util__item--layer > .doc-util__item__bar {
    padding: 12px 4px;
  }

  .doc-util__item__children {
    margin-left: 3px;
    padding-bottom: 3px;

    .doc-util__item:last-child {
      border-bottom: 1px solid $blue-grey;
    }

    &.doc-util__item__children--hidden {
      display: none;
    }
  }

  &.selected {
    border-left-color: $blue;

    > .doc-util__item__bar {
      color: $blue;
    }

    .doc-util__item__children {
    }
  }
}
