@import "~vars.scss";

$sel-height: 200px;

$sel-thumb-height: 80px;
$sel-thumb-width: 120px;

.sel-util {
  height: $sel-height;

  .sel-util__main {
    height: $sel-height - 40px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .sel-util__top {
      display: flex;
      justify-content: center;

      .sel-util__coords {
        width: 80px;
        text-align: right;
        input[type="text"] {
          margin-bottom: 5px;
        }
      }

      .sel-util__thumb {
        margin: 20px;
        flex: 0;
        display: flex;

        .sel-util__thumb__img {
          display: flex;
          justify-content: center;
          margin-top: auto;
          margin-bottom: auto;
          margin-left: auto;
          margin-right: auto;
          position: relative;
          flex: 0;
          border: 1px solid $blue-grey;

          canvas {
            align-self: center;
            max-width: $sel-thumb-width;
            max-height: $sel-thumb-height;
          }

          .sel-util__thumb__img--doc {
            display: block;
          }

          .sel-util__thumb__origin-buttons {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            .sel-util__thumb__origin-button {
              position: absolute;
              width: 10px;
              height: 10px;
              border: 1px solid #ccc;
              background: white;
              border-radius: 10px;
              cursor: pointer;

              &.sel-util__thumb__origin-button--tl {
                left: -5px;
                top: -5px;
              }
              &.sel-util__thumb__origin-button--tr {
                right: -5px;
                top: -5px;
              }
              &.sel-util__thumb__origin-button--br {
                right: -5px;
                bottom: -5px;
              }
              &.sel-util__thumb__origin-button--bl {
                left: -5px;
                bottom: -5px;
              }
              &.sel-util__thumb__origin-button--c {
                top: 50%;
                left: 50%;
                margin-left: -5px;
                margin-top: -5px;
              }

              &:hover {
                border-color: $blue;
                background-color: $paleblue;
              }

              &:active {
                border-color: $blue;
                background-color: $blue;
              }

              &.sel-util__thumb__origin-button--active {
                border-color: $blue;
                background-color: $midblue;
              }
            }
          }
        }

        .sel-util__thumb__point-container {
          position: relative;
          padding: 5px;

          .sel-util__thumb__point {
            width: 6px;
            height: 6px;
            border-radius: 6px;
            border: 1px solid $blue;

            &.is-main {
              width: 8px;
              height: 8px;
              border-radius: 8px;
            }
          }
        }

        .sel-util__thumb__height-bracket {
          position: absolute;
          top: 0;
          bottom: 0;
          right: -14px;
          width: 5px;
          border-right: 1px solid #ccc;
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
        }

        .sel-util__thumb__width-bracket {
          position: absolute;
          left: 0;
          right: 0;
          bottom: -14px;
          height: 5px;
          border-right: 1px solid #ccc;
          border-left: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
        }
      }

      .sel-util__height {
        display: flex;
        width: 80px;

        .sel-util__height__input {
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }
  }

  .sel-util__middle {
    display: flex;
    justify-content: center;

    .sel-util__width {
    }
  }

  .sel-util__bottom {
    padding: 4px;
    border-top: 1px solid #ccc;
  }

  .sel-util__subheader {
  }
}
