@import '~vars.scss';
@import '~mixins.scss';

$util-grey: darken($bg-grey, 13%);

#app-windows {
  position: absolute;
  top: $app-header-height + 20px;
  right: 0;
  bottom: 20px;
  pointer-events: none;

  #app-utils {
    display: flex;

    #app-utils-left {
      width: 276px;
    }
    #app-utils-right {
      width: 320px;
      margin-left: 10px;

      .util-window {
        width: 100%;
      }
    }

    #app-utils-left,
    #app-utils-right {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

.util-window {
  margin: 5px 5px 5px 0;
  pointer-events: auto;
  @include card-shadow-small;
  display: flex;
  flex-direction: column;

  &.util-window--grow {
  }

  &:not(.util-window--grow) {
    flex-shrink: 0;
  }

  .util-header {
    padding: 3px;
    font-size: 14px;

    background-color: $blue-grey;

    //background: -webkit-linear-gradient(to top, #c7cdd5, #adb4bd);
    //background: -moz-linear-gradient(to top, #c7cdd5, #adb4bd);
    //background: linear-gradient(to top, #c7cdd5, #adb4bd);
    border-bottom: 1px solid darken($blue-grey, 10%);
    @include no-select;
  }

  .util-body {
    background: white;
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
}

.text-input {
  label {
    margin-right: 5px;
  }

  input[type='text'] {
    width: 64px;
  }
}
