@import '~vars.scss';

$util-grey: darken($bg-grey, 13%);


#app-windows {
  position: absolute;
  top: $app-header-height + 30px;
  right: 0;
  width: 360px;
  bottom: 20px;
  pointer-events: none;
}

.util-window {
  margin: 5px;
  pointer-events: auto;

  .util-header {
    padding: 5px;
    font-size: 12px;
    background-color: darken($bg-grey, 10%);
    border-top: 1px solid $fg-grey;
    border-bottom: 1px solid $fg-grey;
    border-left: 1px solid $fg-grey;
    border-right: 1px solid $fg-grey;
  }

  .util-body {
    background: white;
    border-bottom: 1px solid $fg-grey;
    border-left: 1px solid $fg-grey;
    border-right: 1px solid $fg-grey;
  }
}
