@import '~vars.scss';
@import "~mixins.scss";

$util-grey: darken($bg-grey, 13%);

#app-windows {
  position: absolute;
  top: $app-header-height + 30px;
  right: 0;
  width: 360px;
  bottom: 20px;
  pointer-events: none;
}

.util-window {
  margin: 5px;
  pointer-events: auto;
  @include card-shadow-small;

  .util-header {
    padding: 3px;
    font-size: 14px;

    background-color: $blue-grey;

    //background: -webkit-linear-gradient(to top, #c7cdd5, #adb4bd);
    //background: -moz-linear-gradient(to top, #c7cdd5, #adb4bd);
    //background: linear-gradient(to top, #c7cdd5, #adb4bd);
    border-bottom: 1px solid $fg-grey;
  }

  .util-body {
    background: white;
    font-size: 14px;
  }
}

.text-input {
  label {
    margin-right: 5px;
  }

  input[type="text"] {
    width: 64px;
  }
}
