@import '~vars.scss';
@import '~mixins.scss';

#app-tools {
  width: $app-toolbar-width;
  border-right: 1px solid $fg-grey;
  font-size: 14px;

  .app-tool {
    display: block;
    width: 100%;
    padding: 6px 0;
    border-bottom: 1px solid $blue-grey;
    cursor: default;
  }

  $color-swatch-margin: 12px;

  #current-colors {
    margin: $color-swatch-margin;

    .color-indicator {
      width: $app-toolbar-width - ($color-swatch-margin*2);
      height: $app-toolbar-width - ($color-swatch-margin*2);
    }
  }
}
