<html>
  <head>
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">-->
    <link rel="stylesheet" href="/assets/styles/bundles/app.css" />

    <title>{{ .FormatTitle }}</title>
  </head>
  <body>
    <main>
      {{ .View.Prerendered }}
    </main>

    <script type="text/javascript" src='{{ .AssetURL "/bundles/vendor.bundle.js" }}'></script>
    <script type="text/javascript" src='{{ .AssetURL "/bundles/app.bundle.js" }}'></script>
  </body>
</html>
